<!doctype html>
<html ng-app="demo">
<head>
  <title>Test Test Test</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<body>
<div class="container">
  <div ng-controller="request">
    <form novalidate class="simple-form">
      <label> CPT <input type="text" ng-model="cpt"> </label>
      <label> Insurance <input type="text" ng-model="insurance"> </label>
      <input type="submit" value="search" ng-click="submit(cpt, insurance)">
    </form>
    <br>
    <table class="table table-striped table-bordered">
      <tr>
        <th width="300"></th>
        <th width="300">athenaNet</th>
        <th width="300">{{result.insurance}}</th>
      </tr>
      <tr>
        <td>Claims Billed</td>
        <td>{{result.universalCount}}</td>
        <td>{{result.insuranceCount}}</td>
      </tr>
      <tr>
        <td>Rate</td>
        <td>{{result.universalRate}}</td>
        <td>{{result.insuranceRate}}</td>
      </tr>
    </table>
  </div>
</div>
</body>

</html>